@import "~/src/scss/functions";
@import "~/src/scss/variables";
@import "~/src/scss/mixins";

.form-container {
  width: 90%;
  height: 100%;
  max-width: 500px;
  box-sizing: border-box;
  background: $card-background;
  border-radius: 18px;
  margin: 1rem auto;
  padding: 1.25rem 1rem;
}
