.skill-icon {
    width: 3rem;
    height: 3rem;
    margin-top: 5px;
    margin-bottom: 18px;
    box-sizing: border-box;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: contain;
}

.rating svg {
  margin-right: 2px;
}

#angular {
    background-image: url('../../../../assets/icons/angular.svg');
  }

  #javascript {
    background-image: url('../../../../assets/icons/javascript.svg');
    padding: 6px;
  }

  #r {
    background-image: url('../../../../assets/icons/r.svg');
  }

  #typescript {
    background-image: url('../../../../assets/icons/typescript.svg');
    padding: 6px;
  }

  #html5 {
    background-image: url('../../../../assets/icons/html5.svg');
    padding-bottom: 6px;
  }

  #css3 {
    background-image: url('../../../../assets/icons/css3.svg');
    padding-bottom: 6px;
  }

  #nosql {
    background-image: url('../../../../assets/icons/mongodb.svg');
    width: 8rem;
  }

  #sql {
    background-image: url('../../../../assets/icons/mysql.svg');
    width: 4.5rem;
  }

#scss {
  background-image: url('../../../../assets/icons/sass.svg');
}

#python {
  background-image: url('../../../../assets/icons/python.svg');
}

#angular-material {
  background-image: url('../../../../assets/icons/angular.svg');
}

#node-js {
  background-image: url('../../../../assets/icons/nodejs.svg');
  width: 4.5rem;
}

#express-js {
  background-image: url('../../../../assets/icons/expressjs.svg');
}

#java {
  background-image: url('../../../../assets/icons/java.svg');
}

#c-sharp {
  background-image: url('../../../../assets/icons/c-sharp.svg');
}

#php {
  background-image: url('../../../../assets/icons/php.svg');
  width: 4.5rem;
}

#seo {
  background-image: url('../../../../assets/icons/google-seo.svg');
}
