<app-spinner [isHidden]="!isLoading" [isTransparent]='false'></app-spinner>
<app-navigation-admin></app-navigation-admin>
<div id="admin-wrapper">
        <h3 class="headline">Hello Noam, How can I help you?</h3>
        <app-hero-admin></app-hero-admin>
        <hr class="hr">
        <app-about-admin></app-about-admin>
        <hr class="hr">
        <app-projects-admin></app-projects-admin>
        <hr class="hr">
        <app-timeline-admin></app-timeline-admin>
        <hr class="hr">
        <app-skills-admin></app-skills-admin>
        <hr class="hr">
        <app-quote-admin></app-quote-admin>
        <hr class="hr">
        <app-social-media-admin></app-social-media-admin>
        <hr class="hr">
        <app-contact-admin></app-contact-admin>
</div>
