@import "~/src/scss/functions";
@import "~/src/scss/variables";
@import "~/src/scss/mixins";

#twitter-form .form-group label {
    display: inline-block;
    width: initial;
    margin: 0 0.5rem;
    padding-left: 1rem;
}

#twitter-form .form-group input {
    display: inline-block;
    width: 2rem;
    margin: 0 0.5rem;
}