<nav>
    <a class="nav-link" href="">Navigation Link</a>
</nav>
<div class="container">
    <h1 class="headline">Headline1</h1>
    <h2 class="headline">Headline2</h2>
    <h3 class="headline">Headline3</h3>
    <h1 class="secondary-headline">Secondary H1</h1>
    <h2 class="secondary-headline">Secondary H2</h2>
    <h3 class="secondary-headline">Secondary H3</h3>
    <div class="gradient-text-container">
        <p class="gradient-text"><span>Gradient Text</span></p>
    </div>
    <p class="text bold">Bold Paragraph text</p>
    <p class="text emphasis bold">Bold Emphasis text</p>
    <p class="text">Paragraph text</p>
    <p class="text emphasis">Emphasis text</p>
    <p class="text tiny">Tiny text</p>
    <p class="text emphasis tiny">Tiny Emphasis text</p>
    <a class="link bold" target="_blank" rel="noopener noreferrer" href=""><svg class="link-icon" xmlns="http://www.w3.org/2000/svg" viewBox="2 2 16 16"><path d="M7.5 4.5L6.44 5.56 9.88 9l-3.44 3.44L7.5 13.5 12 9z"/></svg><span class="link-text">Bold Link</span></a> <br>
    <a class="link" target="_blank" rel="noopener noreferrer" href=""><svg class="link-icon" xmlns="http://www.w3.org/2000/svg" viewBox="2 2 16 16"><path d="M7.5 4.5L6.44 5.56 9.88 9l-3.44 3.44L7.5 13.5 12 9z"/></svg><span class="link-text">Link</span></a> <br>
    <a class="link tiny" target="_blank" rel="noopener noreferrer" href=""><svg class="link-icon" xmlns="http://www.w3.org/2000/svg" viewBox="2 2 16 16"><path d="M7.5 4.5L6.44 5.56 9.88 9l-3.44 3.44L7.5 13.5 12 9z"/></svg><span class="link-text">Tiny Link</span></a> <br>
    <div class="btn-container">
        <button class="btn gradient-btn">Gradient Button</button>
    </div>
    <div class="btn-container">
        <button class="btn secondary-btn">Secondary Button</button>
    </div>
</div>