/* ### Theme ### */
/* ### Colors ### */
$background: black;
$headline: #F5F5F7;
$secondary-headline: #6E6E73;
$text: #A1A1A6;
$emphasis: #F5F5F7;
$gradient-from: #005E7F;
$gradient-to: #61B6CD;
$gradient-radial: rgba(255, 255, 255, 0.125);
$navigation-background: rgba(29, 29, 31, 0.72);
$navigation-text: white;
$link: #2997FF;
$mobile-border: #424245;
$btn-background: black;
$btn-text: #F5F5F7;
$btn-background-hover: #F5F5F7;
$btn-text-hover: #161617;
$card-background: #1d1d1f;
$chip-background: #0071e3;
$footer-background: #161617;
$shiny: rgba(161, 161, 166, 0.65);
$highlight-shadow: rgba(57,155,235,0.329412);
$success: rgba(168, 240, 198, 0.8);
$error: rgba(247, 167, 163, 0.8);
/* ### Colors - END ### */
/* ### Typography ### */
$heading-font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
$text-font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;

$h1-size: 4.705rem;
$h1-line-height: 4.941rem;
$h1-weight: 500;
$h1-letter-spacing: -0.075rem;

$h2-size: 3.294rem;
$h2-line-height: 3.529rem;
$h2-weight: 500;
$h2-letter-spacing: -0.017rem;

$h3-size: 1.412rem;
$h3-line-height: 1.647rem;
$h3-weight: 500;
$h3-letter-spacing: 0.013rem;

$p-size: 1rem;
$p-line-height: 1.235rem;
$p-weight: 500;
/* ### Typography - END ### */