<div class="timeline-item">
    <p class="text tiny year">{{ timeline.year }}</p>
    <div class="gradient-text-container timeline-item-title">
        <h3 class="gradient-text"><span>{{ timeline.role }}</span></h3>
    </div>
    <div class="timeline-item-chip"><span class="chip tiny">{{ timeline.badge }}</span></div>
    <p class="emphasis bold timeline-item-subtitle">{{ timeline.company }}</p>
    <p class="text timeline-item-content">{{ timeline.description }}</p>
    <div class="timeline-item-action">
        <a class="link" target="_blank" rel="noopener noreferrer" href="{{ timeline.link }}">
            <svg class="link-icon" xmlns="http://www.w3.org/2000/svg" viewBox="2 2 16 16">
                <path d="M7.5 4.5L6.44 5.56 9.88 9l-3.44 3.44L7.5 13.5 12 9z" /></svg><span
                class="link-text">Website</span>
        </a>
    </div>
</div>