<section id="contact" class="content-section flex-center-column" appGradientScrollingAnimation>
  <h2 class="headline" appScrollingAnimation>{{ contact.contact_title }}</h2>
  <p class="text" appScrollingAnimation>{{ contact.contact_text }}</p>
  <ul class="contact-list">
    <li class="contact-item" appScrollingAnimation>
      <div class="btn-container">
        <a class="btn gradient-btn contact-button" target="_blank" rel="noopener noreferrer" href="mailto: noamkadosh91@gmail.com">
          <svg width="24px" height="24px">
            <use href="../../assets/icons/paper-plane.svg#paper-plane" />
          </svg>
        </a>
      </div>
    </li>
    <li class="contact-item" appScrollingAnimation>
      <div class="btn-container">
        <a class="btn gradient-btn contact-button" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/noamkadosh/">
          <svg width="24px" height="24px">
            <use href="../../assets/icons/linkedin.svg#linkedin" />
          </svg>
        </a>
      </div>
    </li>
    <li class="contact-item" appScrollingAnimation>
      <div class="btn-container">
        <a class="btn gradient-btn contact-button" target="_blank" rel="noopener noreferrer" href="https://twitter.com/Noam_Kadosh">
          <svg width="24px" height="24px">
            <use href="../../assets/icons/twitter.svg#twitter" />
          </svg>
        </a>
      </div>
    </li>
    <li class="contact-item" appScrollingAnimation>
      <div class="btn-container">
        <a class="btn gradient-btn contact-button" target="_blank" rel="noopener noreferrer" href="https://github.com/noamkadosh">
          <svg width="24px" height="24px">
            <use href="../../assets/icons/github.svg#github" />
          </svg>
        </a>
      </div>
    </li>
    <li class="contact-item" appScrollingAnimation>
      <div class="btn-container">
        <a class="btn gradient-btn contact-button" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/noam.kadosh/">
          <svg width="24px" height="24px">
            <use href="../../assets/icons/instagram.svg#instagram" />
          </svg>
        </a>
      </div>
    </li>
  </ul>
</section>
